/* font-family: 'Amatic SC', cursive;
font-family: 'Lateef', cursive;
font-family: 'Permanent Marker', cursive; */

* {
  box-sizing: border-box;
  text-align: center;
}
body { 
  background-color: black;
  color: azure;
  width: 100%;
}

h2 {
  font-size: 2em;
  font-family: 'Lateef', monospace;
  text-align: center;
  letter-spacing: 0.5em;
  background-color: black;
  position: relative;
  bottom: 7em;
  margin: 0 auto;
  width: 60%;
  padding: 15px;
}

h3 {
  font-family: 'Lateef', monospace;
  font-size: 3em;
}

p {
  font-family: 'Lateef', monospace;
  font-size: 1.5em;
}

.banner {
  position: fixed;
  bottom: 90%;
  width: 100%;
  background-color: black;
  z-index: 2;
}

.banner h1 {
  font-family: "Permanent Marker" , cursive;
  width: 50%;
  letter-spacing: 8px;
  padding-left: 2%;
  text-align: left;
  display: inline-block;
}

.landing {
  width: 100%;
  height: auto;

}

.landing-image {
  color: rgba (52 , 52, 52, 0.75);
}

ul {
  list-style: none;
  display: inline-block;
  margin-left: 15em;
  
}

li {
  display: inline-block;
  font-family: "Amatic SC", cursive;
  font-size: 2em;
  font-weight: 500;
  padding: 0 0.5em;
  margin-top: 0.78em;
}

li:hover {
  color: rgb(73, 236, 236);
}

li a {
  color: azure;
  text-decoration: none;
}

li a:hover {
  color: rgba(139, 221, 221, 0.75);
  font-weight: 700;
  letter-spacing: 0.3em;
}

footer, p {
 letter-spacing: 0.2em;
  text-align: center;
}

/* ------- B I O ------- */

.jimmy-guitar {
  border-radius: 50%;
  width: 35%;
  margin-top: 10em;
  border: 6px solid azure;
}

.bio-body {
  width: 100%;
}

.bio {
  width: 100%;
  margin-top: 8em;
}

.bio p {
  text-align: center;
  width: 55%;
  line-height: 1.5em;
}
